/* common */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.best-seller {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
/* best-seller heading */
.best-seller-heading {
  font-family: "Alfa Slab One";
  font-size: 40px;
  margin-top: 24px;
}
/* hidden fake checked */
input[type="radio"] {
  display: none;
}
/* best-seller navigation */
.best-seller-nav {
  margin-top: 24px;
}
.products-type li {
  display: inline;
  padding: 12px 16px;
  background-color: whitesmoke;
}
/* hidden tab content */
.skincare-list,
.haircare-list,
.cosmetics-cases-list,
.fragrance-list,
.makeup-list {
  display: none;
}
/* General characteristics of the content of the tabs */
.items-image img:nth-of-type(2) {
  display: none;
}
.items-image img {
  width: 200px;
  height: 250px;
}
.choose-icon {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 24px;
}
.choose-icon div {
  background-color: aqua;
  padding: 4px;
}
.choose-icon div img {
  width: 32px;
}
.product-choose button {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background-color: aqua;
  border: 1px solid aqua;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}
.product-description,
.product-price {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 16px;
}
.stars img {
  margin-top: 16px;
  width: 24px;
}
/* Change image and action */
.product-item:hover .product-image .items-image img:nth-of-type(1) {
  display: none;
}
.product-item:hover .product-image .items-image img:nth-of-type(2) {
  display: inline;
}
.product-image {
  position: relative;
  overflow: hidden;
}
.product-choose {
  position: absolute;
  left: 0;
  right: 0;
}
.product-item:hover .product-choose {
  bottom: 4px;
}
/* Switch tabs */
input:nth-of-type(1):checked
  ~ .best-seller-nav
  .products-type
  li:nth-of-type(1),
input:nth-of-type(2):checked
  ~ .best-seller-nav
  .products-type
  li:nth-of-type(2),
input:nth-of-type(3):checked
  ~ .best-seller-nav
  .products-type
  li:nth-of-type(3),
input:nth-of-type(4):checked
  ~ .best-seller-nav
  .products-type
  li:nth-of-type(4),
input:nth-of-type(5):checked
  ~ .best-seller-nav
  .products-type
  li:nth-of-type(5) {
  background-color: aqua;
  color: #fff;
}
input:nth-of-type(1):checked ~ .skincare-list,
input:nth-of-type(2):checked ~ .haircare-list,
input:nth-of-type(3):checked ~ .cosmetics-cases-list,
input:nth-of-type(4):checked ~ .fragrance-list,
input:nth-of-type(5):checked ~ .makeup-list {
  display: block;
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 24px;
  margin-left: 16px;
  margin-right: 16px;
}
