/* common */
html {
  font-family: Arial, Helvetica, sans-serif;
}
/* action section */
.action {
  text-align: center;
}
.action-size {
  background-color: darkslateblue;
  display: inline-block;
  padding: 8px 32px;
  color: whitesmoke;
}
.action-heading {
  font-weight: 500;
}
.action-heading span {
  font-weight: 700;
  color: royalblue;
}
.action-description {
  color: rgba(0, 0, 0, 0.7);
}
.action-btn button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 2px;
  padding: 12px 36px;
}
button + button {
  margin-left: 12px;
}
