.login-form {
  background-color: #fff;
  width: 400px;
  margin: 200px auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: #334155;
}
.login-heading {
  font-weight: 900;
}
.login-title {
  margin-top: 15px;
}

.login-form form {
  margin-top: 30px;
  text-align: left;
}

.login-form form label {
  display: block;
  font-size: 18px;
  font-weight: 600;
}
.login-form form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  color: #334155;
  border: 1px solid #334155;
  font-size: 16px;
  font-weight: 500;
}

.login-form form button {
  margin-top: 25px;
  display: block;
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  background-color: #334155;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: transform 0.2s linear;
}
.login-form form button:hover {
  transform: scale(0.9);
}
